{% extends "master.html" %}

{% block title %}
Stock Simulator
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}"> <button class="first-right"> 登出 </button> </a>
    <a href="{%url 'snum'%}"> <button class="second-right"> 目前行情 </button> </a>
    <a href="{% url 'inventory' user.username %}"> <button class="third-right"> 查看庫存 </button> </a>
    <a href="{%url 'stock_inventory'%}"> <button class="fourth-right"> 所有股票 </button> </a>
    <div class="main">
        <h1> 股票模擬器 </h1>
        （您目前登入的帳號為 <b> {{ user.username }} </b>） 
        <hr>
        <br>
        <h2> 感謝您使用本模擬器 </h2>
        <h2> 請選擇右上角之功能以開始您的投資之旅 </h2>
    </div>
    {% else %}
    <a href="{% url 'login' %}"> <button class="first-right"> 登入 </button> </a>
    <div class="visitor-main">
        <h1> 歡迎來到股票模擬器！<br> 請登入帳戶以使用完整功能 </h1>
    </div>
    {% endif %}

{% endblock %}