<style>
    .home {
        color: black;
        font-size: 16px;
        background-color: none;
        text-decoration: none;
        font-weight: bold;
        position: fixed;
        top: 30px;
        left: 30px;
    }
    .first-right {
        text-align: center;
        color: white;
        font-size: 16px;
        padding: 10px;
        background-color: black;
        border-radius: 15%;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        position: fixed;
        top: 30px;
        right: 30px;
    }
    .second-right {
        text-align: center;
        color: white;
        font-size: 16px;
        padding: 10px;
        background-color: black;
        border-radius: 15%;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        position: fixed;
        top: 30px;
        right: 100px;
    }
    .third-right {
        text-align: center;
        color: white;
        font-size: 16px;
        padding: 10px;
        background-color: black;
        border-radius: 15%;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        position: fixed;
        top: 30px;
        right: 200px;
    }
    .main {
        text-align: center;
        position: relative;
        top: 50px;
    }
</style>