<!-- 買進介面 -->

{% extends "master.html" %}

{% block title %}
Buy Stock
{% endblock %}

{% block content %}

{% include 'login_style.html' %}

<style>
    .submit {
        height: 40px;
        width: 70px;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        background-color: black;
        cursor: pointer;
        position: relative;
        top: 90px;
    }
</style>

<a href="{% url 'logout' %}"> <button class="first-right"> 登出 </button> </a> 
<a href="{% url 'inventory' user.username %}"> <button class="second-right"> 查看庫存 </button> </a>
<a href="{% url 'sell' user.username %}"> <button class="third-right"> 賣出 </button> </a>
<a href="{%url 'snum'%}"> <button class="fourth-right"> 目前行情 </button> </a>
<!--<a href="{% url 'buy' user.username %}"> 買進 </a>-->
<div class="main">
    <h1> 股票模擬器 </h1>
    （您目前登入的帳號為 <b> {{ user.username }} </b>）
    <hr>
    {% if user.is_authenticated %}
    {% else %}
    <a href="{% url 'login' %}" class="upper-right-button"> 登入 </a>
    {% endif %}

    <h2> 買進股票 </h2>

    <form method="post">
        {% csrf_token %}
        <div class="snum">
            <label for="{{ form.snum.id_for_label }}" class="label"> {{ form.snum.label }} </label>
            <br>
            {{ form.snum }}
        </div>
        <div class="amount">
            <label for="{{ form.amount.id_for_label }}" class="label"> {{ form.amount.label }} </label>
            <br>
            {{ form.amount }}
        </div>
        <div class="price">
            <label for="{{ form.price.id_for_label }}" class="label"> {{ form.price.label }} </label>
            <br>
            {{ form.price }}
        </div>
        <!--{{ form.as_p }}-->
        <button type="submit" class="submit"> 買進 </button>
    </form>
{% endblock %}
