<style>
    table {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
    }
    th, td {
        padding: 5px;
    }
    footer {
        height: 100px;
    }
    .home { /*首頁連結*/
        color: black;
        font-size: 16px;
        background-color: none;
        text-decoration: none;
        font-weight: bold;
        position: fixed;
        top: 30px;
        left: 30px;
        z-index: 9999;
    }
    .first-right { /*右上第一顆按鈕*/
        text-align: center;
        color: white;
        font-size: 16px;
        padding: 10px;
        background-color: black;
        border-radius: 15%;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 9999;
    }
    .second-right { /*右上第二顆按鈕*/
        text-align: center;
        color: white;
        font-size: 16px;
        padding: 10px;
        background-color: black;
        border-radius: 15%;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        position: fixed;
        top: 30px;
        right: 100px;
        z-index: 9999;
    }
    .third-right { /*右上第三顆按鈕*/
        text-align: center;
        color: white;
        font-size: 16px;
        padding: 10px;
        background-color: black;
        border-radius: 15%;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        position: fixed;
        top: 30px;
        right: 200px;
        z-index: 9999;
    }
    .fourth-right { /*右上第四顆按鈕*/
        text-align: center;
        color: white;
        font-size: 16px;
        padding: 10px;
        background-color: black;
        border-radius: 15%;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        position: fixed;
        top: 30px;
        right: 270px;
        z-index: 9999;
    }
    .main {
        text-align: center;
        position: relative;
        top: 70px;
    }
    .form {
        text-align: center;
        position: relative;
        top: 40px;
    }
    .label {
        font-size: 24px;
        font-weight: bold;
    }
</style>