{% extends "master.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
{{ post_form.errors }}
{{ message }}

{% include 'login_style.html' %}

<style>
    .account {
        position: relative;
        top: 30px;
    }
    .passwd {
        position: relative;
        top: 50px;
    }
    .submit {
        height: 40px;
        width: 70px;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        background-color: black;
        cursor: pointer;
        position: relative;
        top: 80px;
    }
</style>

<div class="main">
    <h1> 請登入您的帳戶 </h1>
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"> Log Out </a>
    {% else %}
        <form action="." method="post">
            {% csrf_token %}
            <div class="account">
            <label for="username" class="label"> 帳號 </label>
            <br>
            {{ login_form.account }}
            </div>
            <div class="passwd">
            <label for="password" class="label"> 密碼 </label>
            <br>
            {{ login_form.password }}
            </div>
            <input type="submit" value="登入" class="submit">
        </form>
    {% endif %}
    <a href="/register"> <button class="first-right"> 註冊 </button> </a>
</div>

{% endblock %}