<style>
    .first-right { /*右上第一顆按鈕*/
        text-align: center;
        color: white;
        font-size: 16px;
        padding: 10px;
        background-color: black;
        border-radius: 15%;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        position: fixed;
        top: 30px;
        right: 30px;
    }
    .main {
        text-align: center;
        position: relative;
        top: 70px;
    }
    .form {
        text-align: center;
        position: relative;
        top: 40px;
    }
    .label {
        font-size: 24px;
        font-weight: bold;
    }
</style>