<!-- 賣出介面 -->

{% extends "master.html" %}

{% block title %}
    Stock Simulator
{% endblock %}

{% block content %}

{% include 'login_style.html' %}

<style>
    .submit {
        height: 40px;
        width: 70px;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        background-color: black;
        cursor: pointer;
        position: relative;
        top: 90px;
    }
</style>

<a href="{% url 'logout' %}"> <button class="first-right"> 登出 </button> </a>
<a href="{% url 'inventory' user.username %}"> <button class="second-right"> 查看庫存 </button> </a>
<a href="{% url 'buy' user.username %}"> <button class="third-right"> 買進 </button> </a>
<a href="{%url 'snum'%}"> <button class="fourth-right"> 目前行情 </button> </a>
<!-- <a href="{% url 'sell' user.username %}"> 賣出 </a> -->
<div class="main">
    <h1>股票模擬器</h1>
    （您目前登入的帳號為 <b> {{ user.username }} </b>）
    <hr>
    {% if user.is_authenticated %}
   {% else %}
    <a href="{% url 'login' %}" class="upper-right-button"> 登入 </a>
   {% endif %}

   <h2> 賣出股票 </h2>

   <form method="post">
        {% csrf_token %}
        <div class="snum">
            <label for="snum" class="label"> 股票代號 </label>
            <br>
            <input type="text" id="snum" name="snum" style="height: 30px; width: 250px; border-radius: 5px; border-width: 1px; text-align: center; font-size: 16px;">
        </div>
        <div class="amount">
            <label for="amount" class="label"> 賣出股數 </label>
            <br>
            <input type="number" id="amount" name="amount" style="height: 30px; width: 250px; border-radius: 5px; border-width: 1px; text-align: center; font-size: 16px;">
        </div>
        <div class="price">
            <label for="price" class="label"> 賣出價格 </label>
            <br>
            <input type="text" id="price" name="price" style="height: 30px; width: 250px; border-radius: 5px; border-width: 1px; text-align: center; font-size: 16px;">
        </div>
        <button type="submit" class="submit"> 賣出 </button>
   </form>

</div>
{% endblock %}
