<!-- 行情介面 -->

<!DOCTYPE html>

{% include 'login_style.html' %}

<html>

<head>
    <title> Quotation </title>
</head>
<body>
    <a href="/"> <button class="home"> 首頁 </button> </a>
    <a href="{% url 'logout' %}"> <button class="first-right"> 登出 </button> </a>
    <a href="{% url 'inventory' user.username %}"> <button class="second-right"> 查看庫存 </button> </a>
    <a href="{% url 'buy' user.username %}"> <button class="third-right"> 買進 </button> </a>
    <a href="{% url 'sell' user.username %}"> <button class="fourth-right"> 賣出 </button> </a>
    <!--<a href="/admin" class="admin"> 管理 </a>-->
    <div class="main">
        <h1> 股票模擬器 </h1>
        （您目前登入的帳號為 <b> {{ user.username }} </b>）
        <hr>
        <h2> 目前行情 </h2>
        <h3> （請點選股票代號以觀看各股行情） </h3>
        <table>
            {% for member in members %}
            <tr>
                <td> <a href="/stock/{{ member.Snum }}"> {{ member.Snum }} </a> </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>