<!DOCTYPE html>
<html>
<head>
    <title>Stock Detail</title>
</head>
<body>
<a href="/" class="home">首頁</a>
<h1>Stock Detail for {{ stock.Snum }}</h1>
<table>
    <tr>
        <th>Snum</th>
        <td>{{ stock.Snum }}</td>
    </tr>
    <tr>
        <th>BuyAmt</th>
        <td>{{ stock.BuyAmt }}</td>
    </tr>
    <tr>
        <th>SellAmt</th>
        <td>{{ stock.SellAmt }}</td>
    </tr>
    <tr>
        <th>TStmp</th>
        <td>{{ stock.TStmp }}</td>
    </tr>
    <tr>
        <th>Sprice</th>
        <td>{{ stock.Sprice }}</td>
    </tr>
</table>
</body>
</html>
