<!DOCTYPE html>
<html>
<head>
    <title>Stock Information</title>
</head>
<body>
    <h1>Stock Information</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>OverAmt</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.Name }}</td>
                    <td>{{ member.Number }}</td>
                    <td>{{ member.OverAmt}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
